body, #logo, #intestazione #container {
    margin: 0;
}

#container {
    margin: auto;
    width: 1010px;
}


/* Intestazione */
#intestazione {
    height: 175px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
}

#logo {
    height: 150px;
    width: 15%;
    padding-left: 10px;
    padding-top: 60px;
}

h1 {
    font-size:  50px;
    margin-bottom: 10px;
}

h3, h5 {
    margin: 0;
    color: #777777;
}

a {
    text-decoration: none;
    color: #33b0e7;
}


.img {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
}


.articolo {
    font-size: 21px;
    margin-bottom: 30px;
}


/* Table */
thead {
    text-align: left;
    background-color: #20a9e5;
    color: white;
}

#riga_tabella_50 {
    width: 50%;
}

tbody {
    background-color: #b1e5f2;
}

.white_row {
    background-color: white;
}

th, td {
    font-size: 16px;
    border: none;
  }
  


/* Footer */
.related_article {
    
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.monitor {
    background-image: url("../img/monitor.jpg");
}

.graph {
    background-image: url("../img/graph.jpg");
}

.related_article_title {
    color: white;
    font-size: 19px;
    margin-left: 10px;
}