body, #logo, #intestazione #container {
    margin: 0;
}

#container {
    margin: auto;
    width: 1010px;
}



#intestazione {
    height: 175px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
}

#logo {
    height: 150px;
    width: 15%;
    padding-left: 10px;
    padding-top: 60px;
}

h1 {
    font-size:  50px;
    margin-bottom: 0;
}

h3, h5 {
    margin: 0;
    color: #777777;
}

a {
    text-decoration: none;
    color: #33b0e7;
}


.tim_img {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
}


.articolo {
    font-size: 19px;
}