* {
    margin: 0;
    box-sizing: border-box;
}


/* Utilities */

.container {
    margin: 0 auto;
    width: 1080px;
    
}


.gray_text {
    color: gray;
}

.article_text {
    font-size: 21px;
    margin-bottom: 30px;
}


/* Banner e Logo */
#main_header {
    height: 130px;
    line-height: 130px  ;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
}

#logo {
    margin-top: 30px;
    height: 70px;
}


/* Main */
h1 {
    font-size: 38px;
}

a {
    color: #4ea0ff;
    text-decoration: none;
}

address {
    font-style: normal;
}

#titolo {
    padding-top: 19px;
    padding-bottom: 10px;
}

.article_section {
    padding-top: 19px;
}

/* Table */
thead {
    text-align: left;
    background-color: #20a9e5;
    color: white;
}

#riga_tabella_50 {
    width: 50%;
}

tbody {
    background-color: #b1e5f2;
}

.white_row {
    background-color: white;
}

th, td {
    font-size: 16px;
    border: none;
  }
  
table {
    border-collapse: collapse;
}

/* Aside */

aside {
    margin-bottom: 30px;
}

.related_article {
    
    width: 250px;
    height: 190px;
    background-repeat: no-repeat;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    cursor: pointer;
}

#monitor_img {
    background-image: url("../img/monitor.jpg");
}

#graph_img {
    background-image: url("../img/graph.jpg");
}

.related_article_title {
    color: white;
    font-size: 19px;
}